<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{cookiecutter.project_name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="left-alignment">
        <a href="/" style="font-size: 40px; text-decoration: none;"><b>{{cookiecutter.project_name}}</b></a>
        <div class="right-alignment">
            <a href="/accounts/login/"><b>Log in</b></a> 
        </div>
    </div>

    <hr class="horizontal-line">

    {% raw %}
    <!-- DO NOT CHANGE THIS (aside from styling) -->
    <form action="{{url_for('login')}}?target={{url_for('show_index')}}" method="post" enctype="multipart/form-data">
        <div class="form">
            <label for="file">Photo</label>
            <input type="file" name="file" required/>
        </div>
        
        <div class="form">
            <label for="fullname">Name</label>
            <input type="text" name="fullname" required/>
        </div>
        
        <div class="form">
            <label for="username">Username</label>
            <input type="text" name="username" required/>
        </div>
        
        <div class="form">
            <label for="email">Email</label>
            <input type="text" name="email" required/>
        </div>
        
        <div class="form">
            <label for="password">Password</label>
            <input type="password" name="password" required/>
        </div>
        
        <input type="submit" name="signup" value="sign up"/>
        <input type="hidden" name="operation" value="create"/>
    </form>
    {% endraw %}

    Have an account already?
    <a href="/accounts/login/"><b>Log in</b></a> 
</body>

</html>