<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{cookiecutter.project_name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="left-alignment">
        <a href="/" style="font-size: 40px; text-decoration: none;"><b>{{cookiecutter.project_name}}</b></a>
        <div class="right-alignment">
            {% raw %}{% if logged_in %}
                <a href="/accounts/edit/">{{logname}}</a> 
                <span class="vertical-line"></span>
                <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                    <input type="submit" name="logout" value="Logout"/>
                </form>
            {% endif %}{% endraw %}
        </div>
    </div>

    <hr class="horizontal-line">

    {% raw %}
    <div>
        
        <img src="/uploads/{{user['filename']}}" alt="profile pic" width="50" height="50" style="padding:10px">
        {{logname}}
        
    </div>

    
    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="{{url_for('login')}}?target={{url_for('show_edit')}}" method="post" enctype="multipart/form-data">
            
        <div class ="form">
            <label>Photo</label>
            <input type="file" name="file" accept="image/*"/>
        </div>
            
        <div class ="form">
            <label>Name</label>
            <input type="text" name="fullname" value="{{user['fullname']}}" required/>
        </div>

        <div class ="form">
            <label>Email</label>
            <input type="text" name="email" value="{{user['email']}}" required/>
        </div>

        <input type="submit" name="update" value="submit"/>
        <input type="hidden" name="operation" value="edit_account"/>
    </form>

    <div>
        <a href="/accounts/password/"><b>Change password</b></a>
        <br>
        <a href="/accounts/delete/"><b>Delete account</b></a>
    </div>
    {% endraw %}
</body>

</html>