<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{cookiecutter.project_name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="left-alignment">
        <a href="/" style="font-size: 40px; text-decoration: none;"><b>{{cookiecutter.project_name}}</b></a>
        <div class="right-alignment">
            {% raw %}{% if logged_in %}
                <a href="/explore/">explore</a>
                <span class="vertical-line"></span>
                <a href="/users/{{logname}}/">{{logname}}</a> 
            {% endif %}{% endraw %}
        </div>
    </div>

    <hr class="horizontal-line">

    {% raw %}
    <!-- DO NOT CHANGE THIS -->
    <form action="{{url_for('login')}}?target={{url_for('show_edit')}}" method="post" enctype="multipart/form-data">
        <div class="form">
            <label>Old password</label>
            <input type="password" name="password" required/>
        </div>
        
        <div class="form">
            <label>New password</label>
            <input type="password" name="new_password1" required/>
        </div>
        
        <div class="form">
            <label>New password, again</label>
            <input type="password" name="new_password2" required/>
        </div>
        
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
    {% endraw %}

    <a href="/accounts/edit/"><b>Back to edit account</b></a>
</body>

</html>